---
title: About
bodytext: Lorem Ipsum
---
{{#extend "tpl-layout-a"}}
	{{#content "region-a"}}
		<p>region-a content goes here</p>
	{{/content}}
	{{#content "region-b"}}
		<p>region-b content goes here</p>
	{{/content}}
{{/extend}}