---
title: Build Better Prototypes with Assemble - Basics
menuLink: Basic Course
sortOrder: 02
---

{{#extend "tpl-default"}}
	{{#content "body"}}

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				{{#with basics}}
					{{#each data}}
						{{#if data}}
							<section>
								{{#each data}}
									{{partial "c-section" }}
								{{/each}}
							</section>
						{{else}}
							{{partial "c-section" }}
						{{/if}}
					{{/each}}
				{{/with}}

			</div>
		</div>
	{{/content}}
{{/extend}}
