---
title: Build Better Prototypes with PG
menuLink: Home
sortOrder: 01
---

{{#extend "tpl-default"}}
	{{#content "body"}}

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section class="is-small">
					<h1>Assemble Course</h1>

					<h2>Sitemap</h2>

					<div class="section__content is-centered">
						{{> b-sitemap }}
					</div>

				</section>

			</div>
		</div>



	{{/content}}
{{/extend}}
