---
title: Build Better Prototypes with PG
menuLink: Home
sortOrder: 01

---


{{#extend "tpl-default"}}
	{{#content "body"}}


		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-markdown="slides/Intro.md"></section>
				<section>
					<section data-markdown="slides/introduction/Assemble-Intro.md"></section>
					<section data-markdown="slides/introduction/Assemble-Intro--Template-Engine.md" class="small"></section>
					<section data-markdown="slides/introduction/Assemble-Intro--Vorteile.md" class="small"></section>
					<section data-markdown="slides/introduction/Assemble-Intro--Nachteile.md" class="small"></section>
					<section data-markdown="slides/introduction/Assemble-Intro--Assemble.md" class="small"></section>
				</section>
				<section>
					<section data-markdown="slides/benefits/Assemble-Vorteile--Intro.md"></section>
					<section data-markdown="slides/benefits/Assemble-Vorteile--Nav.md"></section>
					<section data-markdown="slides/benefits/Assemble-Vorteile--Template.md"></section>
				</section>
				<section>
					<section data-markdown="slides/overview/Assemble-Overview.md"></section>
					<section data-markdown="slides/overview/Assemble-Overview--Layouts.md"></section>
					<section data-markdown="slides/overview/Assemble-Overview--Pages.md"></section>
					<section data-markdown="slides/overview/Assemble-Overview--Partials.md"></section>
					<section data-markdown="slides/overview/Assemble-Overview--Content.md"></section>
					<section data-markdown="slides/overview/Assemble-Overview--Data.md"></section>
				</section>
				<section data-markdown="slides/introduction/Intro-Aufgabe01.md" class="exercise"></section>
				<section data-markdown="slides/Assemble-Syntax.md"></section>
				<section>
					<section data-markdown="slides/layouts/Assemble-Layouts.md"></section>
					<section data-markdown="slides/layouts/Assemble-Layouts--Standards.md"></section>
				</section>
				<section data-markdown="slides/layouts/Assemble-Layouts--Standards-A01.md" class="exercise"></section>
				<section>
					<section data-markdown="slides/layouts/Assemble-Layouts--Extended.md"></section>
				</section>

			</div>
		</div>



	{{/content}}
{{/extend}}
