---
title: Build Better Prototypes with PG
menuLink: Home
sortOrder: 01

---


{{#extend "tpl-default"}}
	{{#content "body"}}


		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-markdown="slides/Intro.md"></section>
				<section>
					<section data-markdown="slides/Assemble-Intro.md"></section>
					<section data-markdown="slides/Assemble-Intro--Template-Engine.md"></section>
					<section data-markdown="slides/Assemble-Intro--Vorteile.md"></section>
					<section data-markdown="slides/Assemble-Intro--Nachteile.md"></section>
					<section data-markdown="slides/Assemble-Intro--Assemble.md"></section>
				</section>
				<section>
					<section data-markdown="slides/Assemble-Vorteile--Intro.md"></section>
					<section data-markdown="slides/Assemble-Vorteile--Nav.md"></section>
					<section data-markdown="slides/Assemble-Vorteile--Template.md"></section>
				</section>
				<section>
					<section data-markdown="slides/Assemble-Overview.md"></section>
					<section data-markdown="slides/Assemble-Overview--Layouts.md"></section>
					<section data-markdown="slides/Assemble-Overview--Pages.md"></section>
					<section data-markdown="slides/Assemble-Overview--Partials.md"></section>
					<section data-markdown="slides/Assemble-Overview--Content.md"></section>
					<section data-markdown="slides/Assemble-Overview--Data.md"></section>
				</section>
				<section data-markdown="slides/Intro-Aufgabe01.md"></section>
				<section data-markdown="slides/Assemble-Syntax.md"></section>
				<section>
					<section data-markdown="slides/Assemble-Layouts.md"></section>
					<section data-markdown="slides/Assemble-Layouts--Standards.md"></section>
				</section>
			</div>
		</div>



	{{/content}}
{{/extend}}
