---
component: sitemap
---

{{! USED IN:
	* pages/index.hbs
}}
<div class="b-sitemap">
	<ul class="sitemap__list">
		{{#each pages}}
			<li>
				<a href="{{autolink}}" {{#is ../page.dest this.dest}} class="is-active"{{/is}}>{{data.menuLink}}</a>
			</li>
		{{/each}}
	</ul>
</div>
